.recipe-details-container {
  box-sizing: border-box;
  max-width: 450px;
  position: relative;
}

.recipe-details-container .recipe-image {
  filter: brightness(50%);
  position: absolute;
  width: 100%;
  z-index: -1;
}

.details-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.details-header h1 {
  font-family: Epilogue , serif;
  font-weight: 800;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.details-header .button-container {
  align-items: center;
  color: #fcc436;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

.button-container button {
  background-color: transparent;
  border: none;
}

.details-wrapper {
  background-color: white;
  padding: 15px;
}

.details-wrapper .ingredients, .details-wrapper .intructions {
  border: 1px solid #b1b1b1;
  border-radius: 10px;
  padding: 17px 40px;
}

.recommendations-container {
  display: flex;
  overflow-x: scroll;
}

.recommendation-card {
  margin-right: 16px;
  min-width: 200px;
}

.recommendation-card img {
  height: auto;
  width: 100%;
}

.recommendation-title {
  text-align: center;
}

.start-btn {
  background-color: #fcc436;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.start-btn:disabled {
  opacity: 0.7;
}

.select {
  text-decoration: line-through solid black;
}
